################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Homework3/.vs/Homework3
/Homework3/Homework3/obj
